fastapi==0.109.2
fastapi-filter==1.1.0
starlette==0.36.3
uvicorn==0.27.0.post1
aiohttp==3.9.3
pytz==2024.1

alembic==1.13.1
SQLAlchemy~=2.0.29
asyncpg==0.29.0

pydantic-settings==2.1.0
python-jose==3.3.0
passlib==1.7.4
python-multipart

redis~=5.0.3
celery==5.3.6

pydantic~=2.6.4
